<div>
    <h2 id="page-heading">
        <span jhiTranslate="course1802753139App.userFavorateItem.home.title">User Favorate Items</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-favorate-item" [routerLink]="['/user-favorate-item/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="course1802753139App.userFavorateItem.home.createLabel">
            Create a new User Favorate Item
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="userFavorateItems?.length === 0">
        <span jhiTranslate="course1802753139App.userFavorateItem.home.notFound">No userFavorateItems found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="userFavorateItems && userFavorateItems.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="favorateTime"><span jhiTranslate="course1802753139App.userFavorateItem.favorateTime">Favorate Time</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="account.id"><span jhiTranslate="course1802753139App.userFavorateItem.account">Account</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="content.id"><span jhiTranslate="course1802753139App.userFavorateItem.content">Content</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let userFavorateItem of userFavorateItems ;trackBy: trackId">
                    <td><a [routerLink]="['/user-favorate-item', userFavorateItem.id, 'view']">{{ userFavorateItem.id }}</a></td>
                    <td>{{ userFavorateItem.favorateTime | date:'medium' }}</td>
                    <td>
                        <div *ngIf="userFavorateItem.account">
                            <a [routerLink]="['/user-account', userFavorateItem.account?.id, 'view']" >{{ userFavorateItem.account?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="userFavorateItem.content">
                            <a [routerLink]="['/content-info', userFavorateItem.content?.id, 'view']" >{{ userFavorateItem.content?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/user-favorate-item', userFavorateItem.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/user-favorate-item', userFavorateItem.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(userFavorateItem)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="userFavorateItems && userFavorateItems.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
