<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-content-type-heading" jhiTranslate="course1802753139App.contentType.home.createOrEditLabel">Create or edit a Content Type</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="course1802753139App.contentType.contentTypeName" for="field_contentTypeName" [ngbTooltip]="'course1802753139App.contentType.help.contentTypeName' | translate">Content Type Name</label>
                    <input type="text" class="form-control" name="contentTypeName" id="field_contentTypeName"
                           formControlName="contentTypeName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="course1802753139App.contentType.contentTypeSort" for="field_contentTypeSort" [ngbTooltip]="'course1802753139App.contentType.help.contentTypeSort' | translate">Content Type Sort</label>
                    <input type="number" class="form-control" name="contentTypeSort" id="field_contentTypeSort"
                           formControlName="contentTypeSort"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="course1802753139App.contentType.contentTypeTime" for="field_contentTypeTime" [ngbTooltip]="'course1802753139App.contentType.help.contentTypeTime' | translate">Content Type Time</label>
                    <div class="d-flex">
                        <input id="field_contentTypeTime" type="datetime-local" class="form-control" name="contentTypeTime" formControlName="contentTypeTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="course1802753139App.contentType.contentTypeUpdateCount" for="field_contentTypeUpdateCount" [ngbTooltip]="'course1802753139App.contentType.help.contentTypeUpdateCount' | translate">Content Type Update Count</label>
                    <input type="number" class="form-control" name="contentTypeUpdateCount" id="field_contentTypeUpdateCount"
                           formControlName="contentTypeUpdateCount"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
